.Webcam {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: stretch;
}

.Webcam--Title {
	text-align: center;
	color: white;
}

.Webcam--CamWrapper {
	flex: 1;
	justify-content: center;
	align-items: center;
}

.Webcam--Cam {
	width: 100%;
	object-fit: contain;
	object-position: center;
	max-height: 600px;
}