.SnowReport {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: stretch;
}

.SnowReport--Current {
	display: flex;
	flex-direction: column;
	align-items: stretch;
}

.SnowReport--Current_Title {
	color: white;
	text-align: center;
}

.SnowReport--Current_Content {
	display: flex;
	flex-direction: row;
	align-self: stretch;
	align-items: center;
	justify-content: center;
}

.SnowReport--Current_section {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 0 40px;
}

.SnowReport--Current_section.align-left {
	align-items: flex-start;
	text-align: left;
}

.SnowReport--Current_section.align-right {
	align-items: flex-end;
	text-align: right;
}

.SnowReport--Current_section-label {
	color: white;
}

.SnowReport--Current_section-value {
	color: white;
	font-size: 28px;
	font-weight: bold;
}

.SnowReport--Current_icon {
	color: white;
}

.SnowReport--Current_Extras {
	margin-top: 50px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.SnowReport--Current_Extras-item {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	flex: 1;
}

.SnowReport--Current_Extras-item_label {
	color: white;
	font-weight: bold;
	border-bottom: 1px solid white;
	padding: 5px 10px;
}
.SnowReport--Current_Extras-item_value {
	color: white;
	font-size: 22px;
	font-style: italic;
	padding: 10px;
}

.SnowReport--Forecast {
	display: flex;
	flex-direction: column;
	align-items: stretch;
}

.SnowReport--Forecast_Title {
	text-align: center;
	color: white;
}

.SnowReport--Forecast_Row {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	padding: 20px;
}

.SnowReport--Forecast_Row-label {
	color: white;
	font-size: 18px;
	text-transform: uppercase;
}

.SnowReport--Forecast_Row-label strong {
	margin-right: 5px;
}

.SnowReport--Forecast_Row-value {
	color: white;
	font-size: 28px;
}