.SnowReport {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: stretch;
}

.SnowReport--Forecast {
	display: flex;
	flex-direction: column;
	align-items: stretch;
}

.SnowReport--Forecast_Title {
	text-align: center;
	color: white;
}

.SnowReport--Forecast_Row {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	padding: 20px;
}

.SnowReport--Forecast_Row-label {
	color: white;
	font-size: 18px;
	text-transform: uppercase;
}

.SnowReport--Forecast_Row-label strong {
	margin-right: 5px;
}

.SnowReport--Forecast_Row-value {
	color: white;
	font-size: 28px;
}