.WeatherForecast {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: stretch;
}

.WeatherForecast--Title {
	text-align: center;
	color: white;
}

.WeatherForecast--Header,
.WeatherForecast--Row {
	display: flex;
	flex-direction: row;
}

.WeatherForecast--Column {
	padding: 10px;
	width: 100px;
}

.WeatherForecast--Column.flex {
	flex: 1;
}